:root {
  --video-container-bg: #171a22;
  --wrong: #e16e76;
  --red: #de1c22;
  --success: #57d557;
  --blue: #5774d5;
  --white: #ffffff;

  --warrning-content: rgba(222, 28, 34, 0.78);

  --video-track-bg: rgba(255, 255, 255, 0.89);
  --progress-line: rgba(0, 111, 255, 0.91);
  --buffered-line: rgba(201, 201, 201, 0.68);

  --menu-list: rgba(65, 65, 65, 0.94);
  --mune-item-hover: rgba(37, 37, 37, 0.96);

  --input-range-bg: #5F686D;
  --input-range-line: rgba(255,255,255, .8);
  --input-range-line-thumb: rgba(255,255,255, 1);

  --customization-bg: rgba(47, 47, 47, 0.85);
}
