.video-settings-modal {
  background: var(--customization-bg);
  min-width: 310px;
  min-height: 330px;
  height: auto;
  //height: 330px;
  //height:430px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.setting-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 33px);
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  align-items: center;
  margin: 0 auto;

  .setting-range {
    margin: 0 10px;
  }
}
.setting-text {
  color: var(--white);
}

.colorblindness-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  transition: 0.3s ease;
  padding: 0;
  &.active {
    border: 1px solid var(--mune-item-hover);
    padding: 10px 0;
    .colorblindness:first-child {
      margin-bottom: 10px;
    }
  }
}

.epilepsy-container, .colorblindness-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
}

.colorblindness-wrapper.active {
  margin-bottom: 10px;
}

.settings-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 330px;
  height: auto;
  min-width: 200px;
  max-width: 310px;
  //height: 100%;
  padding: 15px 15px 0 15px;
  margin-left: 10px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background: var(--buffered-line);
    top: 0;
    right: -5px;
  }
  &:first-child {
    &:before {
      display: none;
    }
  }
}

.settings-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  //margin-top: 15px;
  margin-bottom: 10px;
}

.settings-epilepsy {

}

.epilepsy-protection-type, .colorblindness-type {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.colorblindness, .epilepsy-protection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  //padding: 0 15px;
  margin-top: 7px;
}

.colorblindness-text {
  color: var(--white);
  cursor: pointer;
  padding-bottom: 10px;
  &.blue {
    color: var(--blue);
  }
  &.green {
    color: var(--success);
  }
  &.red {
    color: var(--red);
  }
}

.option-status {
  color: var(--wrong);
  cursor: pointer;
  padding-bottom: 10px;
  &.active {
    color: var(--success);
  }
}

.btn {
  margin-top: 10px;
  border: 1px solid var(--white);
  padding: 10px 20px;
  color: var(--white);
}
